header.sidebar
  .sidebar-group
    .logo
    nav.menu
      a(href="http://").menu-item.menu-item1 
      a(href="http://").menu-item.menu-item2 
      a(href="http://").menu-item.menu-item3 
      a(href="http://").menu-item.menu-item4 
      a(href="http://").menu-item.menu-item5 
  a(href="http://").exit

.button.adptive-menu#adptive MENU

ul.modal#modal
  li 
    a(href="http://")  Home
  li 
    a(href="http://")  Education
  li 
    a(href="http://")  Account
  li 
    a(href="http://")  Message
  li 
    a(href="http://")  Setting
  li.quit
    a(href="http://") Quit