.other
  .other--top
    input(type="search", name="").search
    .notifications
    .user
  .other--coureses
    .other--coureses-item
      .other--coureses-num 11
      .other--coureses-text Courses <br> completed
    .other--coureses-item
      .other--coureses-num 4
      .other--coureses-text Courses <br> in progress
  .other--statistic
  .other--buy
    .other--buy-left
      .other--buy-title Lern even more!
      .other--buy-text Unlock premium features <br>only for $9.99 per month.
      .other--buy-button.button Go Premium
    .other--buy-right