.center
  .banner
    .banner--text
      .banner--text1 Hello Josh!
      .banner--text2 It’s good to see you again.
    .banner--pic
  .reklama
  main.courses
    .courses--title Courses
    .courses--tabs
      .courses--tab.opacity(data-courses-tab) All Courses
      .courses--tab(data-courses-tab) The Newest
      .courses--tab(data-courses-tab) Top Rated
      .courses--tab(data-courses-tab) Most Popular
    .courses--items.active(data-courses-items)
      .course
        .course--logo.course--logo-figma
        .course--info
          .course--name Learn Figma
          .course--author by Christopher Morgan
        .course--time 6h 30min
        .course--rate 4,9
        a(href="http://").button.course--view View course
      .course
        .course--logo.course--logo-analog
        .course--info
          .course--name Analog photography
          .course--author by Gordon Norman
        .course--time 3h 15min
        .course--rate 4,7
        a(href="http://").button.course--view View course
      .course
        .course--logo.course--logo-instagram
        .course--info
          .course--name Master Instagram
          .course--author by Sophie Gill
        .course--time 7h 40min
        .course--rate 4,6
        a(href="http://").button.course--view View course
      .course
        .course--logo.course--logo-drawing
        .course--info
          .course--name Basics of drawing
          .course--author by Jean Tate
        .course--time 11h 30min
        .course--rate 4,8
        a(href="http://").button.course--view View course
      .course
        .course--logo.course--logo-photoshop
        .course--info
          .course--name Photoshop - Essence
          .course--author by David Green
        .course--time 5h 35min
        .course--rate 4,7
        a(href="http://").button.course--view View course
    .courses--items(data-courses-items) The Newest
    .courses--items(data-courses-items) Top Rated
    .courses--items(data-courses-items) Most Popular